# Database
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# DB_HOST
DB_HOST=DB_HOST_URL

# Google Cloud Storage
BUCKET_NAME=DB_BUCKET_NAME

# Application Vertex AI
APP_BASE_URL=https://doctoatlas-1062594341429.europe-west9.run.app
PROJECT_ID=PROJECT_ID
LOCATION=europe-west9
# Vertex model name
MODEL_NAME=gemini-2.5-flash

# SMTP Mailer
SMTP_SERVER=SMTP_SERVER
SMTP_PORT=SMTP_PORT
SMTP_USERNAME=SMTP_USER_EMAIL
SMTP_PASSWORD=SMTP_USER_PASSWORD

